@using Domain.Ticket.TicketChanges
@using Domain.Workflow
@model Ticket

<div class="container mt-2">
    <div class="card shadow-sm" style="min-width: 300px;">
        <div class="card-header bg-primary text-white">
            <h5>Workflow</h5>
        </div>
        <div class="card-body">
            <!-- Current Status -->
            <p><strong>Aktuální stav:</strong> <span class="badge px-1 @(Model.WFState == Domain.Workflow.Enums.WFState.Žádný ? "bg-info" : "bg-warning")">@Model.WFState</span></p>

            <!-- Workflow Transition History -->
            <h6 class="mt-3">Historie</h6>
            <ul class="list-group list-group-flush">
                @{
                    List<TicketChange> changes = Model.TicketChanges.OrderByDescending(change => change.TimeCreated).ToList();
                    @for (int index = 0; index < changes.Count; index++)
                    {
                        var change = changes[index];
                        <li class="border-1 list-group-item m-1">
                            <strong>
                            @{
                                if(index + 1 < changes.Count)
                                {
                                    <span>@changes[index + 1].State.ToString().Replace('_', ' ')</span>
                                    <span>→</span>
                                }
                                <span>@change.State</span>
                            }</strong>
                            <br />
                            <small class="text-muted">@change.Author - @change.TimeCreated.ToShortDateString()</small>
                        </li>
                    }
                }            
            </ul>

            <!-- Workflow Change Buttons -->
            <h6 class="mt-3">Změnit stav</h6>
            <form asp-action="ChangeWF" method="post">
                <input type="hidden" name="ticketId" value="@Model.Id" />
                <select class="form-select mb-2" name="action" required>
                    @foreach (var status in WFTransitionRules.StateActions(Model.WFState))
                    {
                        <option value="@status">@status.ToString().Replace('_', ' ')</option>
                    }
                </select>
                <button type="submit" class="btn btn-primary w-100">Změnit stav</button>
            </form>
        </div>
    </div>
</div>