@using Models.Tickets
@using Models.Users
@using Models.Workflows
@model IReadOnlyCollection<Ticket>

@{
    string filter = ViewBag.Filter as string ?? "";
    ViewData["Title"] = "Seznam požadavků";
}

<div class="d-flex flex-row justify-content-center mt-5">
    <div class="card shadow-sm p-4 bg-secondary-subtle" style="width: 900px;">
        <div class="text-center mb-4">
            <h4>Seznam požadavků</h4>
        </div>

        <form method="get" class="mb-4">
            <div class="input-group">
                <button type="submit" class="input-group-text bg-primary">
                    <i class="bi bi-search text-white" style="font-size: 18px"></i>
                </button>
                <input type="text" name="filter" value="@filter" class="form-control" placeholder="Filtrovat podle názvu nebo řešitele..." />
            </div>
        </form>

        <div class="card shadow-sm">
            <div class="card-body p-0 bg-primary">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Název</th>
                            <th>Řešitel</th>
                            <th>Vytvořeno</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            @foreach (var ticket in Model)
                            {
                                string linkRoute = "";
                                if (User.IsInRole(UserType.Zadavatel.ToString()))
                                    linkRoute += @Url.Action("Detail", "UserTicket", new { ticketId = ticket.Id });
                                if (User.IsInRole(UserType.Řešitel.ToString()))
                                    linkRoute += @Url.Action("Detail", "SolverTicket", new { ticketId = ticket.Id });
                                string route = $"location.href='{linkRoute}'";

                                <tr onclick="@route" style="cursor: pointer;">
                                    <td>@ticket.Header</td>
                                    <td>@ticket.Solver?.UserName</td>
                                    <td>@ticket.TimeCreated.ToShortDateString()</td>
                                    <td>
                                        <span class="badge px-2 @(ticket.State switch
                                              {
                                                  WFState.Žádný => "bg-info",
                                                  WFState.Uzavřený => "bg-success",
                                                  WFState.Vrácený => "bg-danger",
                                                  _ => "bg-warning"
                                              })">
                                    @ticket.State
                                        </span>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center text-muted py-4">Žádné požadavky nebyly nalezeny.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
