@using Models.Tickets
@using Models.Workflows
@model Ticket

@{
    var ticket = Model;
    var changes = ticket.TicketHistory.OrderByDescending(c => c.TimeCreated).ToList();
}

<div class="d-flex flex-row justify-content-center mt-5">
    <div class="card shadow-sm p-4 bg-secondary-subtle" style="width: 300px;">
        <div class="text-center mb-4">
            <h4>Workflow</h4>
        </div>

        <!-- Current Status -->
        <div class="mb-3">
            <label class="form-label fw-bold">Aktuální stav</label>
            <div class="p-3 border rounded bg-light">
                <span class="badge mx-1 px-2 @(Model.State switch {
                    WFState.Žádný => "bg-info",
                    WFState.Uzavřený => "bg-success",
                    WFState.Vrácený => "bg-danger",
                    _ => "bg-warning"
                })">
                    @Model.State.ToString().Replace('_', ' ')
                </span>
            </div>
        </div>

        <!-- Workflow History -->
        <div class="mb-3">
            <label class="form-label fw-bold">Historie změn stavu</label>
            @if (changes.Any())
            {
                @foreach (var change in changes.OrderByDescending(x => x.TimeCreated))
                {
                    <div onclick="location.href='@Url.Action("WorkflowDetail", "SolverTicket", new { ticketId = Model.Id, changeId = change.Id })'" class="p-2 mb-2 border rounded bg-light overflow-hidden icon-link-hover" style="cursor: pointer;">
                        <p class="mb-1"><strong>@change.State.ToString().Replace('_', ' ')</strong> - @change.UserCreated?.UserName</p>
                        <small class="text-muted">@change.TimeCreated.ToShortDateString() - @change.TimeCreated.ToString("HH:mm")</small>
                    </div>
                }
            }
            else
            {
                <div class="p-2 border rounded bg-light text-muted text-center">Žádná změny workflow.</div>
            }
        </div>

        <!-- Change Workflow -->
        <form asp-action="ChangeWorkflow" method="post">
            <input type="hidden" name="ticketId" value="@ticket.Id" />
            <div class="mb-3">
                <label for="state" class="form-label fw-bold">Změnit stav</label>
                <select class="form-select" id="state" name="state" required>
                    @foreach (var status in WFRules.GetPossibleManualResolutions(ticket.State))
                    {
                        <option value="@status">@status.ToString().Replace('_', ' ')</option>
                    }
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-arrow-repeat me-1"></i>Změnit stav
                </button>
            </div>
        </form>
    </div>
</div>
